body {
    font-family: 'Arial', sans-serif;

    h1, h2 {
        color: #000000; /* Color oscuro */
        font-weight: bold;
        margin-bottom: 25px;}

    p{
        margin-bottom: 15px;
        line-height: 1.8;
    }
}