body {
    background-color: whitesmoke;

    .maintitle {
        font-size: 40px;
    }

    .data {
        font-size: 20 px;
        color: darkslategray
    }

    .aboutme {
        font-size: 30px;
    }

    h1, h2, h3 {
        color: #000000;
        font-size: 20px;
        margin-bottom: 25px;
    }

    p{
        margin-bottom: 15px;
        line-height: 1.8;
    }
}

footer {
    background-color: grey;
    font-size: 15px;
    color: aliceblue;
}